<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property name="LOG_PATTERN" value="%d{ISO8601} [%thread] %-5level %logger{36} - %msg"/>

  <property name="KAFKA_BROKER_LIST" value="kafka-broker-01:9092, kafka-broker-02:9093, kafka-broker-03:9094"/>
  <property name="KAFKA_LOG_TOPIC_NAME" value="general-logs"/>
  <property name="STRING_SERIALIZER" value="org.apache.kafka.common.serialization.StringSerializer"/>

  <appender name="Console-Appender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>${LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <appender name="Kafka-Log-Appender" class="com.github.danielwegener.logback.kafka.KafkaAppender">
    <encoder class="com.github.danielwegener.logback.kafka.encoding.LayoutKafkaMessageEncoder">
      <layout class="ch.qos.logback.classic.PatternLayout">
        <pattern>${LOG_PATTERN}</pattern>
      </layout>
    </encoder>
    <topic>${KAFKA_LOG_TOPIC_NAME}</topic>
    <producerConfig>bootstrap.servers=${KAFKA_BROKER_LIST}</producerConfig>
    <producerConfig>key-serializer=${STRING_SERIALIZER}</producerConfig>
    <producerConfig>value-serializer=${STRING_SERIALIZER}</producerConfig>
  </appender>

  <appender name="Async-Kafka-Log-Appender" class="ch.qos.logback.classic.AsyncAppender">
    <queueSize>500</queueSize>
    <discardingThreshold>0</discardingThreshold>
    <appender-ref ref="Kafka-Log-Appender"/>
  </appender>

  <logger name="Kafka-Log-Logger" level="INFO" additivity="false">
    <appender-ref ref="Kafka-Log-Appender"/>
  </logger>

  <root level="INFO">
    <appender-ref ref="Console-Appender"/>
    <appender-ref ref="Kafka-Log-Appender"/>
    <appender-ref ref="Kafka-Log-Logger"/>
  </root>
</configuration>